/*Style for newtothepublic.com
* 
* SITE THEME COLORS
* yellow (sun): #D5C430;
* green (face/brain): #007F0E;
* med/dark gray (site name) : #515350;
*
* FONT COLORS:
* base font: #292B29; #292929; replaced with: #505350; replaced with: #757a75;
* hover: #080808
* lighter gray: #54554E;
* top nav gray: #C4C6B6;
*
* HEADING COLORS -- DEPRECATED:
* pink: #CB2551;
* orange: #D39A27;
* green: #5FD36E;
* blue: #469AB9; alt: #73A0E2;
* ochre: #D5C430;
* header logo green: #007F0C;
*
*/

/*normalize*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video{
  margin:0; 
  padding:0; 
  border:none; 
  outline: none; 
  font-size:100%; 
  vertical-align:baseline;
  webkit-font-smoothing: antialiased;
}

article, aside, figure, footer, header, nav, section{
  display: block;
}

ul{
  list-style: none;
}

blockquote, q{
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after { 
  content:''; 
  content:none; }
a{
  background-color:#fff; 
  color: #505350; /*#292929;*/
  text-decoration:none; 
}

a:hover,
a:active{
  /*color: #000;*/
  text-decoration: none;
  color: #150808;
}

table{ 
  border-collapse:collapse; 
  border-spacing:0; }
hr{
  display:block; 
  height:1px; 
  border:none; 
  border-top:1px solid #ccc; 
  margin: 0; 
  padding:0;
}
input, select { 
  vertical-align:middle; 
}
u{
  text-decoration: none;
}


/*page elements*/
.box{
  float: left;
  clear: right;
}

.clearfix {
  overflow: auto;
}


/*typography*/

/*section headers*/
h1, .h1{
  text-transform: ; 
  font-family: 'Lato', sans-serif;
  /*font-family: 'Metamorphous', cursive;*/
  /*font-weight: 400; */
  font-size: 2.4rem;
  letter-spacing: 6px; 
  line-height: .6;
}

/*top navigation*/
h2, .h2{
  font-family: 'Lato', sans-serif;
  font-weight: 700; 
  font-size: 1.1rem; 
  
}

/*blog and body titles*/
h3, .h3{
  font-family: 'Lato', sans-serif;
  font-weight: 400; 
  font-size: 2rem; 
}

/*blog and body subtitles*/
h4, .h4{
  font-family: 'Lato', sans-serif;
  font-weight: 400; 
  font-size: 1.4rem; 
}

/*footer and sidebar titles*/
h5, .h5{
  font-family: 'Lato', sans-serif;
  font-weight: 700; 
  font-size: .9rem;
}

/*small headings*/
h6, .h6{
  font-family: 'Lato', sans-serif;
  font-weight: 700; 
  font-size: .75rem;
}


/*other elements*/

p{
  font-weight: 400; 
  padding: ; 
  line-height: 1.25; 
  font-size: 1em;  
  font-family: 'Lato', sans-serif;
  color: #505350; /*#292929;*/
}

div, span{
  font-family: 'Lato', sans-serif;
}

img{
  overflow: hidden;
}

.left{
  float: left;
}

.right{
   float: right;
}

/*deprecated
.top-nav-pos{
  float: right;
  padding-right: 50px;
  padding-top: 110px;
}
*/

/*site elements*/

/*header*/
.header{
  position: relative;
  /*margin-left: 150px;*/
  margin: 0 auto;
  padding: /*1em*/10px 0 30px;
  border: 0px solid black;
  width: 90%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.site-name{
  font-size: 1.4em;
  font-family: 'Metamorphous', cursive;
  font-weight: 700;
  letter-spacing: 3px;
}

/*top navigation*/

/*deprecated
.top-bar {
  width: 100%;
  position: absolute;
}
*/

.top-nav{
  position: relative;
  padding: 1em 1em 10em;
  text-align: right;
  margin-top: -10px;
  font-size: 85%;
}

.top-nav li{
  display: inline-block;
  padding: 0 .5em;
  color: #C4C6B6;
}

.top-nav li h5{
  color: #C4C6B6;
}

.top-nav a{
  text-decoration: none;
}

.top-nav a h5:hover,
.top-nav a h5:active{
  color: #54554E;/*#D5C430;*/ /*#120808; #000;*/
}

/*
deprecated
#site-name-link{
  position: absolute;
  /*left: 0;*//*
  width: 35%;
  padding: 0 0 0 3em;
  letter-spacing: 1px;
}
*/

/*deprecated
#nav-links{
  /*for colors, size, etc*/
  /*position: absolute;*/
  /*left: 0;*/
 /* width: 64%;*//*
  padding: 0 3em 0 0;
  letter-spacing: 1px;
}
*/

/*all inner-top-nav deprecated
.inner-top-nav{

}

.inner-top-nav li{
  display: inline-block;
  /*padding: 0 .5em;*//*
}

.inner-top-nav-item{
  /*padding: 0 .5em;*//*
}

.inner-top-nav-item a{

}

.inner-top-nav-item a:hover,
.inner-top-nav-item a:active{

}
*/

/*body elements*/

/*code list across top, block and list styling*/
.codes{
  display: block;
  margin: 0 auto;
  margin-top: -3.5em;
  padding: 0em 5em 2em;
  text-align: center;
  vertical-align: top;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.code-list ul{
  list-style: none;
}

.code-list li{
  display: inline-block;
  padding: 1.15em;
  font-family: 'Lato', sans-serif;
  font-weight: 400; 
  line-height: 1.25;
  font-size: 1em; 
  color: #292B29;
}

.code-list li a{
  color: #292B29;
}

.code-list li span{
    border-radius: 50%;
}

/*list styling for all three columns*/
.block-nav ul{
  list-style: none;
}

.block-nav li{
  padding: 2em 3em;
  font-family: 'Lato', sans-serif;
  font-weight: 400; 
  color: #292B29; /*#292929;*/
  display: inline-block;
}

.block-nav li:first-child{
 /* padding: 3em 3em 3em 0;*/
}

.block-nav li:last-child{
  /*padding: 3em 0 3em 3em;*/
}

.block-nav li a{
  color: #292B29;
  background-color: transparent;
}

.block-nav li a img{
  margin: .5em;
}

/*elements within li*/
.element-2{
  margin-top:10px;
}


/*fine tune list styles for individual blocks*/
/*CURRENTLY DEPRECATED -- structure may be used on other pages*/

/*
#left-block-nav{
  
}
#left-block-nav ul{
  
}

#right-block-nav{

}

#right-block-nav ul{

}

#left-block-nav li, 
#right-block-nav li{
  padding: 1.3em 0;
}

#center-block-nav{
  
}
#center-block-nav ul{
  
}
#center-block-nav li{
  font-weight: 400;  
  /*font-size: 1.2em;*/
/*  
}
*/

/*MAIN CONTENT BLOCKS -- home page*/
.main{
  position: relative;
  margin: 0;
  padding: 3em;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-
          sizing: border-box;
}

.body-block{
  display: inline-block;
  margin: 0 auto;
  padding: 3em 4em;
  text-align: center;
  vertical-align: top;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#main-block{
  width:100%;
}

#indexTitle {
  width: 85%;
  margin-top: 0px;
  margin-left: 0em;
  border-bottom: 2px solid rgba(0, 128, 15, 0.40);
  text-align: right;
  padding: 0;
}
/* DEPRECATED
#left-block{
  width: 29%;
  left: 0;
}
*/
/* DEPRECATED
#center-block{
  /*width: 40%;*/
  width: 100%;
}
/* DEPRECATED
#right-block{
  width: 29%;
}
*/

/*block headers*/
.block-header{
  padding: 2em 0 5em 0;
  width: 100%;
  color: #505350; /*#292929;*/

}

/* NOT YET USED
#left-block-header{
  
}
#center-block-header{

}

#right-block-header{

}
*/


/*footer*/
.footer{
 display: inline-block;
 margin: 0 auto;
 clear: both;
 padding: 1% 0;
 border: 0px solid black;
 height: 40px;
 width: 100%;
 font-size: .8em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.footer p{
  text-align: center;
}


/*galleries.php*/

.gallery-selection {
  cursor:url(images/sun_hover.png), pointer;
  border-bottom: none;
}

.gallery-selection:hover, .gallery-selection:focus {
  border-bottom: 2px solid #505350;
}
/*
#gallery-menu span {
    -webkit-transition: border-bottom 1s ease;
    transition: border-bottom 1s ease;

}
*/

.small-img{
  display: inline-block;
  max-width: 400px;
  color:#505350;
  margin: 20px;
  outline: 1px solid #dfe0d7;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.small-img:focus, .small-img:hover {
  border-bottom: 2px solid #505350;
  padding-bottom:3px;
}


.small-img img{
  height: 300px;
  max-width: 380px;
  padding-bottom: 7px;
}

.small-img h5{
  font-weight: 400;
}

.body-content-lg{
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  vertical-align: top;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.body-content-lg h2{
  color: #505350;

}

/*add border to the galleries menu*/
.menu-border ul{

}


/*CONTACT FORM, contact.php*/

.main-contact{
  position: relative;
  padding: 0 3em 3em;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-
          sizing: border-box;
}

#block-nav-inline{
  padding: 1em 0 0 0;
}


#block-nav-inline li{
  display: inline-block;
  padding: 1.3em;
}

.contact-form{
  display: block;
  font-weight: 400; 
  padding: ; 
  line-height: 1.25; 
  font-size: 1em;  
  font-family: 'Lato', sans-serif;
  color: #505350; /*#292929;*/
}

.contact-form div{
  padding: .5em;
  clear: both;
}

.contact-form input {
  float: right;
  width: 77%;
}

textarea{
  float: right;
  width: 77%;
  height: 100px;
}
fieldset{
  border: 0px solid #54554E;
  width: 50%;
  margin:auto;
  text-align: left;
}

.touch{
  padding: 1em;
  clear: both;
  text-align: center;
  font-size: 90%;
  margin: auto;
  color: transparent;
  font-size: 1.5em;

}

.touch>span{
  display: none;
}

.touch:hover span,
.touch:focus span{
  display: inline;
}

.button{
  color: #505350;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;

}

.contact-header{
  font-size: 1.5em;
  padding: 0 0 1em;
  margin: auto;
  text-align: center;
}

.header-image  {
  position: absolute;
  max-height: 250px;
  max-width: 100%;
  /*z-index: -1;*/ 
  /*z-index: 9999;*/
}

img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.project-image img{
  position: absolute;
  max-height: 300px;
  width: 300px;
  z-index: -1; 
}

/*ABOUT PAGE about.php*/
.main-about{
  position: relative;
  padding: 3em 3em;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color:#292B29;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.about-content{
  align-content: center;
  /*max-width: 700px;*/
  width: 50%;
  display: inline;
}

#about-text{
  float: left;
  padding: 0 5em 5em 5em;
  text-align: center;

}

#about-text p>a{
  text-decoration: underline;
}

#about-media{
  float: left;
  padding: 0 4em 4em 4em;
  border: 0px solid #ccc;
}

#cowVideo{
  border: 1px solid #ccc;
  padding: 5px;
}



/*BLOG blog.php*/
.
#blogMain{
  width:100%;
  padding: 1em 1em .5em 1em;
}

.pageTitle{
  
}

#blogTitle{
  width: 85%;
  margin-top: -145px;
  margin-left: 4em;
  border-bottom: 2px solid rgba(0, 128, 15, 0.40);
  text-align: right;
  padding: 0;
}

#blogTitle p{
  font-size: 2em;
  color: #54554E;
  color: #C4C6B6;
  font-weight: 600;
}

#blogTitle a {

}

#blogTitle a:hover, 
#blogTitle a:active {
  text-decoration: none;
  color:#D5C430;
}

#postTitle{
  width: 85%;
  margin-top: 0px;
  margin-left: 4em;
  border-bottom: 0px solid rgba(0, 128, 15, 0.40);
  text-align: right;
  padding: .5em 0 0 0;
}
#postTitle p{
  font-size: 2em;
  color: #54554E;
  font-weight: 600;
}

.mainEntries{
  /*border-left: 2px solid #515350;*/
  border-left: 0px solid rgba(0, 128, 15, 0.40);
  margin-left: 1em;
  margin-top: 4em;

}

#entryList{
  padding-left: 1.5em;
}


.entryHeader{
  width: 100%;
  /*padding: 1em 0 0 0;*/
}

.entryHeader span{
  width: 100%;
  display: block;
}

.entryHeader h4{
  
}

.entryHeader a:hover, 
.entryHeader a:active{
}

.entryHeader span:first-child{
  padding: 0 0 .25em 0;
}

.publicationDate{
  font-size: .85em;
}

.extraMaterial{

}

.summaryBody{
  padding: 0 0 0 1em;
  width: 75%;
  border-left: 0px solid rgba(0, 128, 15, 0.79);/*lighter shade of site green*/
  margin: 1em 0 .25em .25em;
  font-size: 95%;
}

/*
.summaryBody p{
   color: #150808;
}
*/

.bottomBorder{
  margin: 1.3em 0 1em;
  width: 75%;
  /*border-bottom: 1px solid rgba(0, 128, 15, 0.25);*//*lighter shade of site green*/;
  border-bottom: 1px solid #eee;
}

/*SINGLE BLOG POST post.php*/
.blogPost{
  width: 65%;
  margin-left: 8em;
  margin-top: 2em;
  padding: 3em 0 3em;
}

.blogPost ul {
  list-style: disc inside none;
  padding: .5 0 0 .5em;
  color:#505350;
}

.blogPost a {
  color:#150808;
}

.blogPost a:hover, 
.blogPost a:active {
  text-decoration: underline; 
}


.blogPostTitle{
  width: 100%;
  text-align: left;
  padding: 0 0 .5em;
}

.blogPostTitle h3{
  font-size: 200%;
}

.blogPostTitle a:hover,
.blogPostTite a:active {
  color: #D5C430;
}

.blogPostDate{
  width: 100%;
  font-size: 1em;
  padding: 0;
  /*color:rgba(0, 128, 15, 0.45);*/
}

.blogPostContent{
  width: 100%;
  margin: 3em 0 0 0;
  padding: 0 0 0 1.5em;
  text-align:left;
  border-left: 0px solid rgba(0, 128, 15, 0.40);
  font-size: 95%;

}

/*ARCHIVES*/



/*BLOG ADMIN admin.php*/

.errorMessage{

}

.loginForm{

}

/*responsive*/

@media screen and (max-width:479px) {
  /*
  ul li: block;
  */ 

iframe {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
}

.codes{
  display: block;
  margin: 0 auto;
  margin-top: -5em;
  padding: 0em 5em 2em;
  text-align: center;
  vertical-align: top;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

  .code-list li{
  display: inline-block;
  padding: 1em 10px;
  font-size: .8em; 
}

  .body-block{
    display: block;
    margin: 0 auto;
    margin-left: -2em;
    padding: 0 0 5em 0;
    text-align: center;
    vertical-align: top;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  /*deprecated

  #left-block,
  #center-block,
  #right-block{
    width: 100%;
  }

  #left-block-nav li,
  #right-block-nav li{
    display: inline-block;
    padding: 2em 2em;
    width: 100%;
  }
  */

  #center-block-nav{
    /*display: block;*/
    display: inline-block;
    width: 100%;
  }
  #center-block-nav li {
    width: 100%;
    display: inline-block;
    padding: 2em;
  }

  .block-nav li {
     width: 100%;
    display: inline-block;
  }

  .block-nav div {
    width: 260px;
  }

  .block-header{
  padding: 4em 0 2em 0;
}

 #site-name-link{
  position: relative;
  left: 0;
  width: 100%;
  padding: 0 0 1em;
}

#nav-links{
  /*for colors, size, etc*/
  position: relative;
  left: 0;
  width: 100%;
  padding: 0;
}

.top-nav li{
  display: inline-block;
}

.inner-top-nav-item{
  padding: 0 0 .5em;
  width: 100%;
}

fieldset{
  border: 0px solid #54554E;
  width: 100%;
  margin:auto;
  text-align: left;
}

 .left{
  float: none;
 }
 .right{
  float: none;
 } 

 .about-content{
  align-content: center;
  width: 100%;
  display: inline;
}

#about-text{
  padding: 1em 0;
}

#about-media{
  padding: .5em 0;
}

 .mainEntries{
  border-left: 0px solid rgba(0, 128, 15, 0.40);
  margin-left: .1em;
  margin-top: 0em;
}

#blogTitle{
  width: 85%;
  margin-top: -145px;
  margin-left: 0em;
  border-bottom: 0px solid rgba(0, 128, 15, 0.40);
  text-align: left;
  padding: 0;
}

#blogTitle p {
  font-size: 1.5em;
}

#postTitle{
  width: 85%;
  margin-left: 0em;
  text-align: left;
  padding: 2em 0;
}

#postTitle p {
  font-size: 1em;
}

.entryHeader{
  width: 100%;
  font-size: 80%;
  /*padding: 1em 0 0 0;*/
}

.entryHeader h4{
}

.summaryBody{
  width: 100%;
  margin-left: 0;
  font-size: 90%;
  padding: 0;
}

.bottomBorder{
  border-bottom: 2px solid rgba(0, 128, 15, 0.40);
  margin: 1.3em 0 1em;
  width: 100%;
}

.blogPostTitle{
  width: 90%;
}

.blogPostTitle h3{
  font-size: 160%;
}

.blogPostContent{
  padding: 0;
  font-size: 90%;
  width: 90%;
}

.blogPost{
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
}
}

@media screen and (min-width:480px) and (max-width:767px) {
  /*top nav: block;
  inner top nav: block;
  ul li: no change;
  padding: less;
  */

   iframe {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
  }

   .body-block{
    display: block;
    margin: 0 auto;
   /* margin-left: -2em;*/
    padding: .3em;
    text-align: center;
    vertical-align: top;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  /*deprecated

  #left-block,
  #center-block,
  #right-block{
    width: 100%;
  }

  #left-block-nav li,
  #right-block-nav li{
    display: inline-block;
    padding: 2em 2em;
    width: 100%;
  }
  */

  #center-block-nav{
    /*display: block;*/
    display: inline-block;
    width: 100%;
  }
  #center-block-nav li {
    display: inline-block;
    padding: 2em 3em;
  }

  .block-nav{
    text-align: center;
  }

  .block-nav li {
    display: inline-block;
  }

  .block-nav div {
    width: 260px;
  }


  .block-header{
  padding: 4em 0 2em 0;
}

  #site-name-link{
  position: relative;
  left: 0;
  width: 100%;
  padding: 0 0 1em;
}

#nav-links{
  /*for colors, size, etc*/
  position: relative;
  left: 0;
  width: 100%;
  padding: 0;
}
.inner-top-nav-item{
  padding: 0 1em .5em 0;
}

.top-nav li{
  display: inline-block;
}

fieldset{
  border: 0px solid #54554E;
  width: 90%;
  margin:auto;
  text-align: left;
}

.left{
  float: none;
 }
 .right{
  float: none;
 }

 .about-content{
  align-content: center;
  width: 100%;
  display: inline;
}

.mainEntries{
  border-left: 0px solid rgba(0, 128, 15, 0.40);
  margin-left: 1em;
  margin-top: 2em;
}

#blogTitle{
  width: 100%;
}

.entryHeader{
  width: 100%;
  /*padding: 1em 0 0 0;*/
}

.summaryBody{
  width: 100%;
  margin-left: 0;
  font-size: 90%;
  padding: 0;
}

.bottomBorder{
  border-bottom: 2px solid rgba(0, 128, 15, 0.40);
  margin: 1.3em 0 1em;
  width: 100%;
}


.blogPostTitle{
  width: 90%;
}

.blogPostTitle h3{
  font-size: 160%;
}

.blogPostContent{
  padding: 0;
  font-size: 90%;
  width: 90%;
}

.blogPost{
  width: 100%;
  margin-left: 3em;
  margin-top: 5em;
  padding: 3em 1.5em 3em .8em;
}
}

@media only screen and (min-width:768px) and (max-width:1024px){
 /*top nav: no change;
  columns: 100%;
  ul li: inline-block;

 */

  iframe {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }

   .body-block{
    display: block;
    margin: 0 auto;
    padding: .3em;
    text-align: center;
    vertical-align: top;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  #left-block,
  #center-block,
  #right-block{
    width: 100%;
  }

  .block-nav{
    display: inline-block;
  }

  .block-nav li,
  #left-block-nav li,
  #right-block-nav li{
    display: inline-block;
    position: relative;
    padding: 2em 3em;
    align-content: center;
  }
.block-nav div {
  width: 260px;
}

  .block-header{
  padding: 4em 0 2em 0;
}

fieldset{
  border: 0px solid #54554E;
  width: 80%;
  margin:auto;
  text-align: left;
}

 .about-content{
  align-content: center;
  width: 100%;
  display: inline;
}

.mainEntries{
  border-left: 0px solid rgba(0, 128, 15, 0.40);
  margin-left: 1em;
  margin-top: 2em;
}

.main {
  padding: 1em;
}

#blogMain{
  width:100%;
  padding: 1em;
}

#blogTitle{
  width: 77%;
}

.entryHeader{
  width: 100%;
  /*padding: 1em 0 0 0;*/
}

.summaryBody{
  width: 80%;
  font-size: 90%;
}

.blogPostTitle{
  width: 90%;
}

.blogPostTitle h3{
  font-size: 200%;
}

.blogPostContent{
  padding: 0;
  padding-left: 2em;
  font-size: 90%;
  width: 75%;
}

.blogPost{
  width: 100%;
  margin-left: 5em;
  margin-top: 1em;
  padding: 3em 1.5em 3em .8em;
}

}



/*CODE CLASSES home page*/

.new{
  text-emphasis: fill circle;
  text-emphasis-color: #D5C430;
}
.new::before{
  content:' \2600';
  color:#D5C430;
}


.fiction{
 /* border-left: solid medium #469AB9;*/
  background-color: rgba(70, 154, 185, 1);
  background-color: rgba(66, 111, 174, 1);
  background-color: rgba(95, 131, 180, 1);
  padding: .5em;
  border-radius: 0%;
}


.nonfiction{
  /*
  border-left: solid medium #DD6D31;
*/
  padding: .5em;
  border-radius: 0%;
  background-color: rgba(221, 109, 49, .75);

}

.illustration{
  /*
  border-left: solid medium #3BAB5D;
  */

  background-color: rgba(59, 171, 93, .8);
  padding: .5em;
  border-radius: 0%;
}

.magazine {
  background-color: rgba(213, 196, 48, .75);
  padding: .5em;
  border-radius: 0%;
}


/*deprecated code*/
/*
.organization {

}

.organization u{
  text-decoration: none;
  border-bottom: solid thick;
  
}
*/

.satire {
  background-image: url(/../images/satire7.png);
  background-repeat: repeat;
  padding: .5em;
  border-radius: 0%;
}

.surreal {
  background-image: url(/../images/surreal4.png);
  background-repeat: repeat;
  padding: .5em;
  border-radius: 0%;
}


.WIP {
  text-decoration: line-through;
}


.possibly{
  opacity:.35;
}

.project{
  border-radius: 5%;
  padding: 20px;
}

/*
CSS mods to consider for future code classes or code class changes:

.options{
  border-color: ;
  background-color:;
  border-style: ;
  border-right-width: ;
  border-radius: ;
  baseline-shift: ;
  border-image-outset: ;
  border-image:;
  border-bottom-right-radius: ;
  align-items: ;
  clip: ;
  color-interpolation: ;
  display: ;
  stroke-dasharray: ;
  font-stretch: ;
  fill: ;
  flood-color: ;
  hyphens: ;
  height: ;
  isolation: ;
  ime-mode: ;
  image-rendering:;
  justify-content: ;
  lighting-color: ;
  marks: ;
  mask: ;
  opacity: ;
  outline: ;
  outline-style: ;
  outline-offset: ;
  perspective: ;
  transform: ;
  text-decoration-style: solid double wavy dotted dashed underline overline line-through ;
 
  width: ;

  combo:
  text-decoration-style;
  text-decoration-line: 
  text-decoration-color


}
*/

/*
* colors for h1 function to dynamically set colors
* change the modulus factor in main.js and remove classes or add new ones to include additional colors
*/

.letter-0{ /*blue*/
  color: #469AB9;
}
.letter-1{ /*green*/
  color: #DD6D31;/*#A4376F; /*#B30053;*//*#3BAB5D;/*#30A154;*/ /*#5FD36E;*/
}
.letter-2{ /*orange*/
  color: #A4376F;/*#DD6D31;/*#D39A27;*/
}
.letter-3{ /*pink*/
  color: #3BAB5D;/*#9c39c0;/*#CB2551;*/
}


/*MISC ELEMENTS*/
.sun-img {
  text-align: center;
  align-content: center;
  width: 100%;
}

.buttons{

}
 /*portfolio*/
 .covers li {
        display: inline;
        padding: .5em 2em;
  }