/*Style for newtothepublic.com
* 
* 
*
* font colors:
* base font: #292B29; #292929; replaced with: #505350; replaced with: #757a75;
* hover: #080808
* lighter gray: #54554E;
* top nav gray: #C4C6B6;
*
* heading colors:
* pink: #CB2551;
* orange: #D39A27;
* green: #5FD36E;
* blue: #469AB9; alt: #73A0E2;
* ochre: #D5C430;
* header logo green: #007F0C;
*
*/

/*normalize*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video{
  margin:0; 
  padding:0; 
  border:none; 
  outline: none; 
  font-size:100%; 
  vertical-align:baseline;
  webkit-font-smoothing: antialiased;
}

article, aside, figure, footer, header, nav, section{
  display: block;
}

ul{
  list-style: none;
}

blockquote, q{
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after { 
  content:''; 
  content:none; }
a{
  background-color:#fff; 
  color: #505350; /*#292929;*/
  text-decoration:none; 
}

a:hover,
a:active{
  /*color: #000;*/
  text-decoration: none;
  color: #150808;
}

table{ 
  border-collapse:collapse; 
  border-spacing:0; }
hr{
  display:block; 
  height:1px; 
  border:none; 
  border-top:1px solid #ccc; 
  margin: 0; 
  padding:0;
}
input, select { 
  vertical-align:middle; 
}
u{
  text-decoration: none;
}


/*page elements*/
.box{
  float: left;
  clear: right;
}

.clearfix {
  overflow: auto;
}


/*typography*/

/*section headers*/
h1, .h1{
  text-transform: ; 
  font-family: 'Lato', sans-serif;
  /*font-family: 'Metamorphous', cursive;*/
  /*font-weight: 400; */
  font-size: 2.4rem;
  letter-spacing: 6px; 
  line-height: .6;
}

/*top navigation*/
h2, .h2{
  font-family: 'Lato', sans-serif;
  font-weight: 700; 
  font-size: 1.1rem; 
  
}

/*blog and body titles*/
h3, .h3{
  font-family: 'Lato', sans-serif;
  font-weight: 400; 
  font-size: 2rem; 
}

/*blog and body subtitles*/
h4, .h4{
  font-family: 'Lato', sans-serif;
  font-weight: 400; 
  font-size: 1.4rem; 
}

/*footer and sidebar titles*/
h5, .h5{
  font-family: 'Lato', sans-serif;
  font-weight: 700; 
  font-size: .9rem;
}

/*small headings*/
h6, .h6{
  font-family: 'Lato', sans-serif;
  font-weight: 700; 
  font-size: .75rem;
}


/*other elements*/

p{
  font-weight: 400; 
  padding: ; 
  line-height: 1.25; 
  font-size: 1em;  
  font-family: 'Lato', sans-serif;
  color: #505350; /*#292929;*/
}

img{
  overflow: hidden;
}

.left{
  float: left;
}

.right{
   float: right;
}

/*deprecated
.top-nav-pos{
  float: right;
  padding-right: 50px;
  padding-top: 110px;
}
*/

/*site elements*/

/*header*/
.header{
  position: relative;
  /*margin-left: 150px;*/
  margin: 0 auto;
  padding: /*1em*/10px 0 30px;
  border: 0px solid black;
  width: 90%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.site-name{
  font-size: 1.4em;
  font-family: 'Metamorphous', cursive;
  font-weight: 700;
  letter-spacing: 3px;
}

/*top navigation*/

/*deprecated
.top-bar {
  width: 100%;
  position: absolute;
}
*/

.top-nav{
  position: relative;
  padding: 1em 1em 10em;
  text-align: right;
  margin-top: -10px;
  font-size: 85%;
}

.top-nav li{
  display: inline-block;
  padding: 0 .5em;
  color: #C4C6B6;
}

.top-nav li h5{
  color: #C4C6B6;
}

.top-nav a{
  text-decoration: none;
}

.top-nav a h5:hover,
.top-nav a h5:active{
  color: #54554E;/*#D5C430;*/ /*#120808; #000;*/
}

/*
deprecated
#site-name-link{
  position: absolute;
  /*left: 0;*//*
  width: 35%;
  padding: 0 0 0 3em;
  letter-spacing: 1px;
}
*/

/*deprecated
#nav-links{
  /*for colors, size, etc*/
  /*position: absolute;*/
  /*left: 0;*/
 /* width: 64%;*//*
  padding: 0 3em 0 0;
  letter-spacing: 1px;
}
*/

/*all inner-top-nav deprecated
.inner-top-nav{

}

.inner-top-nav li{
  display: inline-block;
  /*padding: 0 .5em;*//*
}

.inner-top-nav-item{
  /*padding: 0 .5em;*//*
}

.inner-top-nav-item a{

}

.inner-top-nav-item a:hover,
.inner-top-nav-item a:active{

}
*/

/*body elements*/

/*code list across top, block and list styling*/
.codes{
  display: block;
  margin: 0 auto;
  margin-top: -3.5em;
  padding: 0em 5em 2em;
  text-align: center;
  vertical-align: top;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.code-list ul{
  list-style: none;
}

.code-list li{
  display: inline-block;
  padding: 0em 1.15em 2em;
  font-family: 'Lato', sans-serif;
  font-weight: 400; 
  line-height: 1.25; 
  font-size: 1em; 
  color: #292B29;
}

.code-list li a{
  color: #292B29;
}

/*list styling for all three columns*/
.block-nav ul{
  list-style: none;
}

.block-nav li{
  padding: 1.3em 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400; 
  line-height: 1.25; 
  font-size: 1.3em; 
  color: #292B29; /*#292929;*/
 
}
.block-nav li a{
  color: #292B29;
}

/*elements within li*/
.element-2{
  margin-top:10px;
}

/*fine tune list styles for individual blocks*/

#left-block-nav{
  
}
#left-block-nav ul{
  
}

#right-block-nav{

}

#right-block-nav ul{

}

#left-block-nav li, 
#right-block-nav li{
  padding: 1.3em 0;
}

#center-block-nav{
  
}
#center-block-nav ul{
  
}
#center-block-nav li{
  font-weight: 400;  
  /*font-size: 1.2em;*/
}



/*main content blocks*/
.main{
  position: relative;
  margin: 0;
  padding: 3em;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-
          sizing: border-box;
}

.body-block{
  display: inline-block;
  margin: 0 auto;
  padding: 3em 4em;
  text-align: center;
  vertical-align: top;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#left-block{
  width: 29%;
  left: 0;
}
#center-block{
  width: 40%;
}
#right-block{
  width: 29%;
}

/*block headers*/
.block-header{
  padding: 2em 0 5em 0;
  width: 100%;
  color: #505350; /*#292929;*/

}
#left-block-header{
  
}
#center-block-header{

}

#right-block-header{

}


/*footer*/
.footer{
 display: inline-block;
 margin: 0 auto;
 padding: 1% 0;
 border: 0px solid black;
 height: 40px;
 width: 100%;
 font-size: .8em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.footer p{
  text-align: center;
}


/*galleries.php*/

.small-img{
  display: inline-block;
  max-width: 400px;
  color:#505350;
  margin: 20px;
  outline: 1px solid #dfe0d7;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}


.small-img img{
  height: 300px;
  max-width: 380px;
  padding-bottom: 7px;
}

.small-img h5{
  font-weight: 400;
}

.body-content-lg{
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  vertical-align: top;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.body-content-lg h2{
  color: #505350;

}

/*add border to the galleries menu*/
.menu-border ul{

}


/*contact form, contact.php*/

.main-contact{
  position: relative;
  margin: 0;
  padding: 0 3em 3em;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-
          sizing: border-box;
}

#block-nav-inline{
  padding: 1em 0 0 0;
}


#block-nav-inline li{
  display: inline-block;
  padding: 1.3em;
}

.contact-form{
  display: block;
  font-weight: 400; 
  padding: ; 
  line-height: 1.25; 
  font-size: 1em;  
  font-family: 'Lato', sans-serif;
  color: #505350; /*#292929;*/
}

.contact-form div{
  padding: .5em;
  clear: both;
}

.contact-form input {
  float: right;
  width: 77%;
}

textarea{
  float: right;
  width: 77%;
  height: 100px;
}
fieldset{
  border: 0px solid #54554E;
  width: 50%;
  margin:auto;
  text-align: left;
}

.touch{
  padding: 1em;
  clear: both;
  text-align: center;
  font-size: 90%;
  margin: auto;
  color: transparent;
  font-size: 1.5em;

}

.touch>span{
  display: none;
}

.touch:hover span,
.touch:focus span{
  display: inline;
}

.button{
  color: #505350;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;

}

.contact-header{
  font-size: 1.5em;
  padding: 0 0 1em;
  margin: auto;
  text-align: center;
}

.header-image  {
  position: absolute;
  max-height: 300px;
  width: 500px;
  z-index: -1; 
}

img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.project-image img{
  position: absolute;
  max-height: 300px;
  width: 300px;
  z-index: -1; 
}


/*responsive*/

@media screen and (max-width:479px) {
  /*
  ul li: block;
  */ 

  .code-list li{
  display: inline;
  padding: 2em 1em;
}

  .body-block{
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    vertical-align: top;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  #left-block,
  #center-block,
  #right-block{
    width: 100%;
  }

  #left-block-nav li,
  #right-block-nav li{
    display: block;
    padding: 2em 2em;
    width: 100%;
  }

  #center-block-nav{
    display: block;
    padding: 2em 2em;
    width: 100%;
  }

  .block-header{
  padding: 4em 0 2em 0;
}
 #site-name-link{
  position: relative;
  left: 0;
  width: 100%;
  padding: 0 0 1em;
}

#nav-links{
  /*for colors, size, etc*/
  position: relative;
  left: 0;
  width: 100%;
  padding: 0;
}

.top-nav li{
  display: inline-block;
}

.inner-top-nav-item{
  padding: 0 0 .5em;
  width: 100%;
}

fieldset{
  border: 0px solid #54554E;
  width: 100%;
  margin:auto;
  text-align: left;
}

 .left{
  float: none;
 }
 .right{
  float: none;
 } 
}

@media screen and (min-width:480px) and (max-width:767px) {
  /*top nav: block;
  inner top nav: block;
  ul li: no change;
  padding: less;
  */
   .body-block{
    display: block;
    margin: 0 auto;
    padding: .3em;
    text-align: center;
    vertical-align: top;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  #left-block,
  #center-block,
  #right-block{
    width: 100%;
  }

  .block-nav li,
  #left-block-nav li,
  #right-block-nav li{
    display: inline-block;
    padding: 1.5em 2em;
  }

  .block-header{
  padding: 4em 0 2em 0;
}

  #site-name-link{
  position: relative;
  left: 0;
  width: 100%;
  padding: 0 0 1em;
}

#nav-links{
  /*for colors, size, etc*/
  position: relative;
  left: 0;
  width: 100%;
  padding: 0;
}
.inner-top-nav-item{
  padding: 0 1em .5em 0;
}

.top-nav li{
  display: inline-block;
}

fieldset{
  border: 0px solid #54554E;
  width: 90%;
  margin:auto;
  text-align: left;
}

.left{
  float: none;
 }
 .right{
  float: none;
 } 
}

@media only screen and (min-width:768px) and (max-width:1024px){
 /*top nav: no change;
  columns: 100%;
  ul li: inline-block;

 */
   .body-block{
    display: block;
    margin: 0 auto;
    padding: .3em;
    text-align: center;
    vertical-align: top;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  #left-block,
  #center-block,
  #right-block{
    width: 100%;
  }

  .block-nav li,
  #left-block-nav li,
  #right-block-nav li{
    display: inline-block;
    padding: 2em 2em;
    position: relative;
  }


  .block-header{
  padding: 4em 0 2em 0;
}

fieldset{
  border: 0px solid #54554E;
  width: 80%;
  margin:auto;
  text-align: left;
}

}



/*code classes*/
.new{
  text-emphasis: fill circle;
  text-emphasis-color: #D5C430;
}
.new::before{
  content:' \2600';
  color:#D5C430;
}


.fiction{
  /*content:''; use if fiction::before*/
  border-left: solid medium #469AB9;
  padding-left: 6px;
  border-radius: 0;
  bottom:10px;
}


.nonfiction{
  /*content:''; use if nonfiction::before*/
  border-left: solid medium #DD6D31;
  padding-left: 6px;
  border-radius: 0;
  bottom:10px;
}


.illustration{
  /*content:''; use if art::before*/
  border-left: solid medium #3BAB5D;
  padding-left: 6px;
  border-radius: 0;
}

.magazine::before {
  content:'+ ';
}

.organization u{
  text-decoration: none;
  border-bottom: solid thick;
}

/* deprecated
.satire{
  /*border-bottom: dashed medium;
  width: 10%;
  text-align: center;
  position: relative;
  padding-top:4px;
  left:45%;
  text-emphasis: '_';
}*/

.satire u{
  text-decoration: none;
  border-top: dashed medium;
  padding-top: 6px;
}


/* deprecated
.surreal{
  /*border-bottom: dotted thick;
  width: 10%;
  text-align: center;
  position: relative;
  padding-top:4px;
  left:45%;
  text-emphasis-style: ':';

}*/

.surreal u{
  text-decoration: none;
  border-top: dotted medium;
  padding-top: 6px;
}


.WIP {
  text-decoration: line-through;
}


.possibly{
  opacity:.65;
}


/*
CSS mods to consider for future code classes or code class changes:

.options{
  border-color: ;
  background-color:;
  border-style: ;
  border-right-width: ;
  border-radius: ;
  baseline-shift: ;
  border-image-outset: ;
  border-image:;
  border-bottom-right-radius: ;
  align-items: ;
  clip: ;
  color-interpolation: ;
  display: ;
  stroke-dasharray: ;
  font-stretch: ;
  fill: ;
  flood-color: ;
  hyphens: ;
  height: ;
  isolation: ;
  ime-mode: ;
  image-rendering:;
  justify-content: ;
  lighting-color: ;
  marks: ;
  mask: ;
  opacity: ;
  outline: ;
  outline-style: ;
  outline-offset: ;
  perspective: ;
  transform: ;
  text-decoration-style: solid double wavy dotted dashed underline overline line-through ;
 
  width: ;

  combo:
  text-decoration-style;
  text-decoration-line: 
  text-decoration-color


}
*/

/*
* colors for h1 function to dynamically set colors
* change the modulus factor in main.js and remove classes or add new ones to include additional colors
*/

.letter-0{ /*blue*/
  color: #469AB9;
}
.letter-1{ /*green*/
  color: #DD6D31;/*#A4376F; /*#B30053;*//*#3BAB5D;/*#30A154;*/ /*#5FD36E;*/
}
.letter-2{ /*orange*/
  color: #A4376F;/*#DD6D31;/*#D39A27;*/
}
.letter-3{ /*pink*/
  color: #3BAB5D;/*#9c39c0;/*#CB2551;*/
}

